*
{
    margin: 0;
    padding: 0;
}
.logo{
    width: 95%;
    height: 80px;
    background-color: bisque;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 20px;
}
nav{
    width: 98%;
    padding: 2px;
    margin: auto;
    display: flex;
    background-color: rgb(105, 105, 103);
}
ul,li{
    display: flex;
}
a{
    margin: 5px 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.grid{
    width: 98%;
    display:flex;
    position: relative;
}
.grid>article{
    width: 80%;
    margin: 10px;
}
h1,h2{
    margin: 10px;
}
.grid>aside{
    width: 20%;
    margin: 10px;
}
img{
    width: 150px;
    height: 150px;
}
.photos{
    display: grid;
    grid-template-columns: auto auto;
}
.feature{
    float: left;
    margin-right: 30px;
}
article>img{
    width: 230px;
    height: 200px;
}